.card-info-wrapper {
  display: flex;
  justify-content: space-between;
  // align-items: flex-start;

  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 100px;

  h3 {
    margin: 0;
    padding: 0;
    font-family: "Poppins-Bold";
    font-size: 20px;
    color: $main-red;
  }

  ul {
    margin: 0;
    padding: 0;
    margin-top: 28px;
    margin-bottom: 32px;
  }
  li {
    position: relative;

    font-family: "Poppins-Light";
    font-size: 16px;
    color: #4d4c4d;
    line-height: 26px;
    list-style: none;
    padding-left: 21px;

    &::before {
      content: "";
      left: 0;
      top: 50%;
      transform: translateY(-52%);
      position: absolute;
      border: 6px solid transparent;
      border-left: 6px solid $main-y;
    }
  }
}
.service-provider__card {
  width: 370px;
  box-shadow: 0px 6px 6px 2px #f0f0f0;
  transition: 0.1s;

  &:hover {
    transform-origin: top;
    transform: scale(1.05);
    box-shadow: 0px 2px 4px 2px #f0f0f0;

    cursor: pointer;
  }
}
.card-info {
  padding-top: 30px;
  padding-left: 30px;
}

// tabs

.tab-team-wrapper {
  display: flex;
  // align-items: flex-end;
  justify-content: space-between;

  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 100px;
  color: $main-red;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
  }
  a {
    font-family: "Poppins-Light", Arial, Helvetica, sans-serif;
    font-size: 14px;

    color: white;
    &:hover {
      text-decoration: underline;
    }
  }
}
.tabs-wrapper .active {
  color: white;
  background-color: $main-red;
}

.tabs {
  display: flex;
}
.tabs-wrapper {
  width: 570px;

  font-family: "Poppins-Bold";
  text-transform: uppercase;
}

.tab {
  flex: 0 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $main-y;
  cursor: pointer;
  width: 50%;
  height: 50px;
}
// .tab.active {
//   box-shadow: none

// }
.tab_content {
  min-height: 482px;
}
.tab_item {
  color: white;
}

.accordion {
  padding: 40px;
}
.accordion__header {
  position: relative;
  margin: 0;
  padding: 0;
  max-width: 484px;
  padding: 18px;
  padding-right: 52px;

  font-family: "Poppins-Light", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  cursor: pointer;

  border: 2px solid white;

  &::before {
    position: absolute;
    content: "";
    top: 20px;
    right: 21px;
    height: 8px;
    width: 8px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;

    transform: rotate(-45deg);
  }

  &::after {
    position: absolute;
    content: "";
    height: 52px;
    width: 1px;
    border-left: 2px solid white;
    top: 0;
    right: 50px;
  }
}
.accordion__item.active {
  position: absolute;
  content: "";
  background-color: $main-y;
  padding: 26px 1px;
  top: 0;
  right: 50px;
}
.accordion__header.active::before {
  transform: rotate(135deg);
  top: 22px;
}

.accordion__header.active::after {
  border-left: 2px solid transparent;
}

.accordion__header.active {
  background-color: $main-y;
  color: $main-red;
  border-color: $main-y;
}

.accordion__item {
  margin-bottom: 20px;
}
.accordion__content {
  margin: 0;
  padding: 0;

  text-transform: none;
  font-family: "Poppins-Light", Arial, Helvetica, sans-serif;

  color: white;
}
.tab_content {
  background-color: $main-red;
}
.int-services__cover h5 {
  padding: 22px;
  color: white;
  font-size: 16px;
}
.int-services__item {
  display: block;
  padding-left: 22px;
  margin-bottom: 10px;

  a {
    position: relative;
    display: block;
    padding-left: 14px;
    font-size: 16px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -2px;
      border: 8px solid transparent;
      border-left: 8px solid $main-y;
    }
  }
}
.team-img {
  display: block;

  
  background-image: 
  
  url("/images/dhl_team_mixed.png");
  transition: all 0.2s linear;
}
.team-img img {
  display: block;
}

.border-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.border-img img {
  display: block;
}
.dhl-team {
  position: relative;

  margin-right: 40px;
  width: 435px;
  height: 499px;
  cursor: pointer;
}

.dhl-team:hover .team-img {
  transform: translate(40px, 40px);
  
  
}
.dhl-team:hover .team-img img {
  opacity: 0;
}
.dhl-team:hover .border-img {
  opacity: 1;
  z-index: -1;
}
